$lb: #C7F7FF; //Light Blue
$mb: #89C0C9; //Medium Blue
$db: #3a5E63; //Dark Blue
$lbr: #C9A689; //Light Brown
$dbr: #7C593C; //Dark Brown
$lg: #d4d4d4; //Light Grey
$dg: #222; //Dark Grey
$w: #fff; //White

$f1: 'Josefin Sans', ‘Trebuchet MS’, Helvetica, sans-serif; /* default for whole page */
$f2: Cardo, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif; /* serif for the headings */
